@import url('https://fonts.googleapis.com/css?family=Oswald');
.nav>li.dropdown.open {
    position: static;
}
.nav>li.dropdown.open .dropdown-menu {
    display: table;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
}
.dropdown-menu>li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    .dropdown-menu>li {
        display: block;
    }
}
.btn-buy {
    background-color: #42DCA3;
    height: 100%;
    width: 100px;
    margin-top: 7px;
    color: #ffffff;
}
.logo {
    height: 40px;
    margin-top: -8px;
}
.hr-line {
    max-height: 100px;
}
.featured {
    margin-top: -220px;
    color: #000000;
}
.featured h2 {
    margin-top: -10px;
    font-size: 50px;
    color: #42DCA3;
}
.featured h3 {
    font-size: 20px;
    color: #42DCA3;
}
.ft-events img {}
#featured {
    margin-top: 10px;
}
.contact-info {
    text-align: left;
    font-family: 'Oswald', sans-serif;
}
.contact-info h3 {
    margin-bottom: 1px;
    font-family: 'Oswald', sans-serif;
}
.contact-info img {
    height: 30px;
}
.cart {
    height: 30px;
    margin-top: 10px;
}
footer {
    background: #42DCA3;
    margin: 0;
    height: 50px;
}
footer p {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}
.event {
    margin-top: 100px;
}
.event-date p, h3 {
    margin: 0;
    text-align: center;
    font-size: 12px;
}
.e-date {
    width: 150px;
    border-right: 1px solid #dcdcdc;
}
.e-info p, h3 {
    margin: 0;
    text-align: center;
    font-size: 15px;
}
.e-info {
    margin-top: 10px;
    width: 350px;
    text-align: center;
}
.sc-ev {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.m-top {
    margin-top: 100px;
}
.selectpicker {
    width: 20%;
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.selectpicker option {
    color: #333;
}
input.transparent-input {
    background: transparent;
    border: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    border-bottom: 3px solid #333;
    color: #ffffff;
    border-radius: 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.form-control:focus {
    border-color: #dcdcdc;
    box-shadow: inset 0 1px 1px rgba(60, 0, 52, 0);
}
textarea.transparent-input {
    background: transparent;
    border: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    border-bottom: 3px solid #333;
    color: #ffffff;
    border-radius: 0;
    width: 100%;
    height: 200px;
    font-family: 'Oswald', sans-serif;
}
.form-control:focus {
    border-color: #dcdcdc;
    box-shadow: inset 0 1px 1px rgba(60, 0, 52, 0);
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-top: 10px;
}
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.hovereffect:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 100%;
}
.hovereffect:hover h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}
.hovereffect .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
}
.hovereffect hr {
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.hovereffect hr:nth-child(2) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(0deg) scale3d(0, 0, 1);
}
.hovereffect hr:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1);
}
.hovereffect h2, .hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
}
.group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
.group1 {
    top: 40%;
}
.group2 {
    top: 60%;
}
.hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}
.hovereffect p a {
    color: #fff;
}
.hovereffect p a:hover, .hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.hovereffect a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 10px;
    font-size: 20px;
}
.group1 a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2);
}
.group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2);
}
.group2 a:first-child i {
    -webkit-transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2);
}
.group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2);
}
.hovereffect:hover hr:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate(0deg) scale3d(1, 1, 1);
}
.hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(1, 1, 1);
}
.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.ih-item.square.effect13 {
    overflow: hidden;
}
.ih-item.square.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}
.ih-item.square.effect13.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
}
.ih-item.square.effect13 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect13 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111111;
    margin: 30px 0 0 0;
}
.ih-item.square.effect13 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
}
.ih-item.square.effect13 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.ih-item.square.effect13 a:hover .info {
    visibility: visible;
    opacity: 1;
}
.ih-item.square.effect13.left_to_right .info {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ih-item.square.effect13.left_to_right a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.ih-item.square.effect13.right_to_left .info {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.ih-item.square.effect13.right_to_left a:hover .info {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.ih-item.square.effect13.top_to_bottom .info {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ih-item.square.effect13.top_to_bottom a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.ih-item.square.effect13.bottom_to_top .info {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.ih-item.square.effect13.bottom_to_top a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/*TITLE BOX */

.title-box {
    border: 5px solid #42dca3;
    height: 10%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.title-box h3 {
    color: #42dca3;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 30px;
}

/*---------------*/


/***** Bubba *****/


/*---------------*/

figure.effect-bubba {
    background: #9e5406;
}
figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
    opacity: 0.4;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}
figure.effect-bubba h2 {
    padding-top: 15%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
figure.effect-bubba p {
    padding: 15% 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
figure.effect-bubba:hover figcaption::before, figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-bubba:hover h2, figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #000000;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption, .grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure h2, .grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}